body{
	font-size: 16px;
	background-color: #eaeaea;
	font-family: 'Lato', sans-serif;
}
.banner{
	background-color: rgb(126, 192, 224);
  border-bottom-color: rgb(234, 234, 234);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgb(102, 102, 102);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 400px;
  line-height: 20px;
  position: relative;
  width: 1268px;
  word-wrap: break-word;
}

.enlaces{
	

}

	.enlaces__ul{
		list-style: none;
		
	}
	.enlaces__ul__li{
		width: 105px;
		display: inline-block;
		/*border: solid red;*/
	}
		.enlaces--acerca{
			width: 120px;
			/*border: solid blue;*/
			display: inline-block;
		}
	.enlaces__ul__li__item{
		text-decoration: none;
		background-color: white;
	}
.header{
  color: rgb(102, 102, 102);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 525px;
  line-height: 20px;
  width: 1268px;
   word-wrap: break-word;
   background-color: white;
   margin-left: 317.5px;
   margin-right: 317.5px;
   max-width: 1268px;

}
.header__input-buscar{
	float: right;
	margin-bottom: .8em;
	margin-top: .8em;
}
#logo{
	width: 175px;
}

